*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 100%;
    height: 80px;
    background-color:rgba(18,35,51,.3);
    position: fixed; /* Header'ı sabit yapar */
    z-index: 1000; /* Header'ın diğer elementlerin üzerinde olmasını sağlar */
}

.header-group{
    width: 1200px;
    height: 80px;
}

#heroBlock{
    height: 480px;
    width: 100%;
    background-color: aqua;
}
.home-page-search-block{
    width: 1200px;
    height: 120px;
}

#actions-block{
    width: 100%; 
    height: 140px;
    background-color: gray;
    position: relative;
}

#actions-list{
    width: 1200px; /* UL genişliği */
    height: 175px; /* UL yüksekliği */
    background-color: purple; 
    position: absolute; /* Bağımsız konumlandır */
    top: -65px; /* Heronun altına ve navın üstüne yerleştir */
    
    z-index: 2; /* Diğer elemanların üzerinde olsun */
    margin: 0;
} 

#banners-block{
    width: 100%; 
    height: 350px; 
    padding: 30px 15px; /* Yatayda (x) 15px, dikeyde (y) 30px padding */
    background-color: pink;   
}

.top-banners{
    width: 1200px;
    height: 290px;
}

#services-card{
    width: 100%;
    height: 308px;
    padding: 38px 15px;
    background-color: yellow;
}

.services{
    width: 375px;
    height: 90px;
}

.services-list{
    width: 1200px;
    height: 315px;
}

#card-block{
    width: 100%;
    height: 294px;
    padding: 30px 15px;
    background-color: orange;
}

#top-services-block{
    width: 100%;
    height: 435px;
    padding: 30px 15px;
    background-color: chartreuse;
}

#shortcuts-block{
    width: 100%;
    height: 356px;
    padding: 30px 15px;
    background-color:brown;
}

#categories-block{
    width: 100%;
    height: 468px;
    padding-bottom: 30px;
    background-color:rgb(228, 245, 133);
}

.service-categories-list li {
    width: 275px;
    height: 48px;
    margin: 7.500px 12.500px;
}

#single-banner-block{
    width: 100%;
    height: auto;
    padding: 75px 15px 15px;
    background-color:deeppink;
}

.banner-container{
    width: 1200px;
    height: 335px;
    margin: 0 337.500px;
}

.banner-content{
    width: 575px;
    height: 335px;
    padding-bottom: 45px;
    margin-left: 612.500px;
    margin-right: 12.500px;
}

.mobile-market-link{
    width: 194px;
    height: 55px;
    margin: 3px 5px 0 0 ;
}
#myGov{
    width: 100%;
    height: 248px;
    background-color:red;
}

#social-media-block{
    width: 100%;
    height: 524px;
    background-color:grey;
}

#statistics-block{
    width: 100%;
    height: 430px;
    padding: 90px 15px;
    background-color:lightpink;  
}

#info-block{
    width: 100%;
    height: 380px;
    padding: 90px 15px;
    background-color:lightgreen;
}

#footer{
    width: 100%;
    height: 642px;
    padding: 30px 15px 15px;
    background-color:black;
}