*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
}

ul{
  list-style-type: none;
}

#header{
  width: 100%;
  min-height: 80px;
  max-height: 105px;
  background-color:rgba(18,35,51,.3);
  position: fixed; 
  z-index: 1000; /* Header'ın diğer elementlerin üzerinde olmasını sağlar */
  transition: min-height 0.3s ease;
  display: flex;
  justify-content: center;
}

#header.scrolled {
  background-color: rgba(74, 100, 125, .9);
}

.header-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-top:10px;
}

.navbar-toggler {
  margin-left: auto;
}


#header.expand {
  min-height: 160px;
  max-height: 200px;
}

/* Navbar'ın açılınca alt kısmında butonların görünmesini sağlar */
#header.expand .navbar-expanded {
  display: block;
}

.navbar-expanded {
  display: none;
  position: absolute;
  top: 80px;
  width: 100%;
  padding-top: 10px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 200px;
  height: 56px;
  background-image: url("https://cdn.e-devlet.gov.tr/themes/izmir/images/ekapilogo.208.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-item {
  margin-right: 10px;
  border-radius: 8px;
}

.nav-item a{
  padding: 5px;
  font-size: 15px;
}

.quick-solution{
background-color: transparent;
border: 1px solid rgba(143, 204, 242, 0.99);
}

.quick-solution .nav-link{
  color: white;
}

#newButton{
  background-color: white;
  border: transparent;
  display: none; /* Başlangıçta gizli */
}

#newButton2{
  background-color: white;
  border: transparent;
}

.bi-search{
  color: rgba(40, 151, 220, 0.99);
}

.log-in{
  background-color: #fff;
  border: transparent;
}

.log-in .nav-link{
  color: rgba(40, 151, 220, 0.99);
}

@media (min-width:576px) and (max-width:720px) {
 .navbar-nav li{
  margin-top: 5px;
 }

 .navbar-nav{
  justify-content: end;
 }

}

@media (max-width: 576px) {
  #navbarNav {
    display: none; /* Navbar haline geldiğinde header içindeki butonlar gizlenir */
  }

  #header.expand .navbar-collapse {
  display: none; /* Navbar açıldığında orijinal butonlar gizlensin */
  }

  /* Navbar açıldığında yeni butonlar görünür */
  #header.expand .navbar-expanded {
    display: block; /* Header açıldığında navbar butonları görünür olacak */
  }

  .header-group {
    padding: 0 10px; 
    position: absolute;
  }

  .nav-item {
    margin-top: 5px; /* Üst boşluk ekle */
  }

  .navbar-expanded{
    padding: 0;
  }
}

#heroBlock{
  width: 100%;
  height: 508px;
  background: radial-gradient(circle at center bottom, rgba(52, 106, 153, 0.55) 25%, rgba(52, 106, 153, 0.2) 100%), url(//cdn.e-devlet.gov.tr/themes/izmir/images/banners_webp/m00019.1.8.0.webp) center center / cover no-repeat, rgb(66, 132, 190);
}


.home-page-search-block{
width: 1200px;
box-sizing: content-box;
height: auto;
padding-top: 15px;
}


.searchForm{
width: 100%;
max-width: 775px;
height: 55px;
margin: 0 auto;
padding: 7.5px;
background-color: white;
border-radius: 20px;
}

.search-input{
  width: 100%;
  height: 40px;
  padding: 7.5px;
  border: 0;
}

.searchForm svg {
  cursor: pointer;
}

.search-input:focus{
  outline: none;
}

.heroText{
max-width: 775px;
height: 50px;
margin: 15px auto 0 auto;
text-align: center;
font-size: 15px;
color: #fff;
}

@media (max-width:1215px) {
.home-page-search-block{
  width: 100%;
}

.searchForm {
  width: calc(100% - (2 * (212.5px - ((1215px - 100vw) * 0.18))));
  margin: 0 auto;
}

.heroText{
  width: calc(100% - (2 * (212.5px - ((1215px - 100vw) * 0.18))));
  margin:0 auto;
  margin-top: 14px;
  }
}

@media (max-width:1024px) {
.searchForm{
  padding: 7px;
  height: 53px;
}

.home-page-search-block{
  padding-top: 14px;
}

}

@media (max-width:576px) {

#heroBlock{
  height: 405px;
}

.searchForm{
  padding: 6.75px;
  height: 50px;
}

.search-input{
  font-size: 12px;
}

.heroText{
  margin-top: 13.5px;
  height: auto;
  font-size: 13px;
  }

}


#actions-block{
width: 100%;
height: 140px;
background-color: rgb(255, 255, 255);
position: relative;
}

#actions-list{
height: 175px; 
width: 100%;
max-width: 1200px;
background: transparent;
position: absolute; /* Bağımsız konumlandır */
top: -65px; /* Heronun altına ve nav'ın üstüne yerleştir */
left: 50%; 
transform: translateX(-50%); 
z-index: 2;
margin: 0;
}

.action-list-item{
  margin: 0 12.5px;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.action-list-item:first-child{
  margin-left: 112.5px;
}

.action-list-item:last-child{
  margin-right: 112.5px;
}


.menu-icon{
  background-color:#3b77ac;
  margin: 20px auto 12px auto;
  color: white;
  padding: 18px;
  border-radius: 50%;
  border: 5px solid white;
}

.menu-icon svg{
  color: white;
}

.action-list-link{
  text-align: center;
  text-decoration: none;

}

.action-list-link span{
  color:#535353;
  font-size: 12px;
}

#actions-list2{
width: 100%;
display: flex;
justify-content: center;
display: none;
}

#actions-list2 li{
  height: 82px;
}

@media (max-width:1215px) {
#actions-list{
  width: 100%;
}

.action-list-item{
  margin: 0 calc(12.5px - ( (1245px - 100vw) * 0.01 ));
  height: 100%;
}

.action-list-item:first-child{
  margin-left: calc(112.5px - ( (1245px - 100vw) * 0.01 ));
}

.action-list-item:last-child{
  margin-right: calc(112.5px - ( (1245px - 100vw) * 0.01 ));
}


}

@media (max-width:576px) {
  
#actions-list{
  display: none !important;
}
}




#banners-block{
width: 100%;
height: auto;
padding: 30px 15px 15px 15px;
background-color: rgb(237, 102, 125);
}

.top-banners{
height: 290px;
width: 1200px;
} 

.precious-card{
width: 288px;
}

.slider-content{
width: 900px;
}

@media (min-width: 567px) and (max-width: 1244px) {
.top-banners{
  width: 100%;
}

.precious-card {
  width: 24%;
}

.slider-content {
  width: 75%; 
}
}

@media (max-width:576px) {
#banners-block{
  height: 137.2vw;
  padding:27px 13.500px 13.500px 13.500px;

}

.top-banners{
  flex-direction: column;
  height: 100%;
}


.precious-card {
  width: 100%;
  height: 44.2vw;  /* 256px'i vw'ye çevirdik */
  padding-bottom: 2.3vw; /* padding orantılı olarak ayarlandı */
}

.slider-content {
  width: 100%;
  height: 80.3vw;  /* 463px'i vw'ye çevirdik */
}
} 



#services-card{
width: 100%;
height: 308px;
padding: 37.5px 15px;
background-color: yellow;
}

.concept-list{
width: 1200px;
height: 212px;
}

.card-block{
width: 1180px;
height: 212px;
margin: 10px;
padding: 10px 10px 20px 10px;
}

.colc3{
width: 386px;
height: 91px;
}



@media (min-width: 832px) and (max-width: 1024px) {
#services-card{
  height: 393px;
  padding: 35px 14px;
}
}

@media (max-width:831px) {
#services-card{
  height: 666px;
  padding: 35px 14px;
}
}

@media (max-width: 576px) {
#services-card{
  padding: 33.750px 13.500px;
}
}



@media (max-width:1245px) {
.concept-list{
  width: 100%;
} 

.card-block{
  width: 98%;

}

.colc3{
  width: 33.3%;
}
}

@media (min-width: 832px) and (max-width: 1024px) {
.concept-list{
  height: 303px;
}
.card-block{
  height: 303px;
}

.colc3{
  width: 50%;
}

}

@media (max-width:831px) {
.concept-list{
  height: 576px;
}

.card-block{
  height: 576px;
}

.colc3{
  width: 100%;
}
}


#card-block{
width: 100%;
height: 294.8px;
padding: 30px 15px;
background-color: rgb(243, 216, 164);
}

.card-blok-list{
width: 1200px;
height: 224.8px;
}

.items{
width: 1200px;
height: 224.8px;
margin: 5px 0;
}

.card-item{
width: 33.3%;
padding: 10px;
}

@media (min-width:832px) and (max-width:1024px){
#card-block{
  height: 507.6px;
  padding: 28px 14px;
}

.card-blok-list{
  height: 441.6px;
}

.items{
  height: 441.6px;
}

.card-item{
  width: 50%;
}

}

@media (min-width:577px) and (max-width:831px){
#card-block{
  height: 728.5px;
  padding: 28px 14px;
}

.card-blok-list{
  height: 662.5px;
}

.items{
  height: 662.5px;
}

.card-item{
  width: 100%;
}
}

@media (max-width:576px){
#card-block{
  height: 720.5px;
  padding: 27px 13.5px;
}

.card-blok-list{
  height: 656.5px;
}

.items{
  height: 656.5px;
}

.card-item{
  width: 100%;
}
}

@media (max-width:1245px) {
.card-blok-list{
  width: 100%;
}

.items{
  width: 100%;
}
}

#top-services-block{
width: 100%;
height: 435px;
padding: 30px 15px;
background-color: rgb(182, 245, 120);
}

#top-services-block h2{
width: 100%;
height: 35px;
margin-bottom: 25px;
}

.services-list {
width: 1200px;
height: 315px;
}

.services-list li{
flex-basis: calc(33.3% - 25px);
height: 90px;
margin: 0 12.5px 15px 12.5px;
}


@media (max-width:1245px) {
.services-list{
  width: 100%;
}

.services-list li{
  flex-basis: calc(33.3% - 25px);
  margin: 0 calc(12.5px - ( (1245px - 100vw) * 0.01 )) 15px calc(12.5px - ( (1245px - 100vw) * 0.01 ));
}
}

@media (min-width:576px) and (max-width:1024px){
#top-services-block{
  height: 504px;
  padding: 28px 14px;
}

#top-services-block h2{
  height: 33px;
  margin-bottom: 23px;
}

.services-list{
  height: 392px;
}

.services-list li{
  height: 84px;
  margin-bottom: 14px;
  flex-basis: calc(50% - calc(2*(12.5px - ( (1245px - 100vw) * 0.01 )))); 

}

.services-list li:nth-child(9) {
  display: none;
}
}

@media (max-width:576px){
#top-services-block{
  height: 580px;
  padding: 27px 13.5px;
}

#top-services-block h2{
  height: 31px;
  margin-bottom: 22.4px;
}

.services-list{
  height: 472.5px;
}

.services-list li{
  flex-basis: calc(100% - calc(2*(12.5px - ( (1245px - 100vw) * 0.01 )))); 
  height: 81px;
  margin-bottom: 13.5px;
}

.services-list li:nth-child(6),
.services-list li:nth-child(7),
.services-list li:nth-child(8),
.services-list li:nth-child(9) {
  display: none;
}
}


#shortcuts-block{
width: 100%;
height: 356px;
padding: 30px 15px;
background-color:rgb(211, 94, 94);
}

.shortcuts{
width: 1200px;
height: 296px;
}

.shortcuts-items{
width: 50%;
margin: 0 12.5px;
}

@media (max-width:1245px) {
.shortcuts{
  width: 100%;
}

.shortcuts-items{
  width: 50%;
  margin: 0 calc(12.5px - ( (1245px - 100vw) * 0.01 ));

}
}
@media (min-width:878px) and (max-width:1024px) {
#shortcuts-block{
  height: 346px;
  padding: 28px 14px;
}

.shortcuts{
  height: 290px;
}
}

@media (min-width:640px) and (max-width:877px) {
#shortcuts-block{
  padding: 28px 14px;
}
}

@media (max-width:639px) {
#shortcuts-block{
  padding: 27px 13.5px;
}
}

@media (max-width: 877px) {
#shortcuts-block {
  height: calc(39vw - (100vw - 877px) * 0.2067);
}

.shortcuts{
  height: calc(32.5vw - (100vw - 877px) * 0.2067);
}
}

@media (max-width: 780px) {
#shortcuts-block{
  height: calc(41vw - (100vw - 877px) * 0.2067);
}

.shortcuts{
  height: calc(33.7vw - (100vw - 877px) * 0.2067);
}
}


#categories-block{
width: 100%;
min-height: 468px;
padding-bottom: 30px;
background-color:rgb(243, 237, 255);
}

.inner-frame{
width: 1200px;
height: 438px;
padding: 30px;
}

.content-wrapper{
width: 1170px;
height:auto;
}

.e-service{
width: 1170px;
height: 54px;
padding: 11.25px;
font-size: 20px;
text-align: center;
}

.e-service-text{
width: 1170px;
height: 42px;
margin: 15px 0;
font-size: 13px;
}

.service-categories-list{
width: 1200px;
}

.service-categories-list li {
width: calc(25% - 25px);
height: 48px;
margin: 7.500px 12.500px;
border: 1px solid;
border-radius: 10px;
display: flex;
align-items: center;
justify-content:center ;
}

@media (max-width:1215px) {

.inner-frame,
.service-categories-list,
.content-wrapper,
.e-service,
.e-service-text{
  width: 100%;
  height: auto;
}

.service-categories-list li {
  /* Li'nin genişliği: 25% - azalan margin değerleri */
  width: calc(25% - (2 * (12.5px - ((1215px - 100vw) * 0.01))));

  /* Margin azalarak küçülecek */
  margin-left: calc(12.5px - ((1215px - 100vw) * 0.01));
  margin-right: calc(12.5px - ((1215px - 100vw) * 0.01));
}



}

@media (max-width: 1024px) {
.service-categories-list li {
  width: calc((100% / 3) - (2 * (12.5px - ((1215px - 100vw) * 0.01))));
  margin-left: calc(12.5px - ((1215px - 100vw) * 0.01));
  margin-right: calc(12.5px - ((1215px - 100vw) * 0.01));
  margin-top: 7px;
  margin-bottom: 7px;
}
}


@media (min-width: 639px) and (max-width:740px) {
.service-categories-list li{
  height: 58.5px;
}
}

@media (max-width: 640px) {
.service-categories-list li {
  width: calc((100% / 2) - (2 * (12.5px - ((1215px - 100vw) * 0.01))));
  margin-left: calc(12.5px - ((1215px - 100vw) * 0.01));
  margin-right: calc(12.5px - ((1215px - 100vw) * 0.01));
  margin-top: 6.75px;
  margin-bottom: 6.75px;
}

.inner-frame{
  padding:27px;
}

#categories-block{
  padding-bottom: 27px;
}
}

#single-banner-block{
width: 100%;
height: auto;
padding: 75px 15px 15px;
background-color:rgb(202, 142, 174);
}

.banner-container{
width: 1200px;
height: 335px;
}

.banner-content{
width: 50%;
height: 100%;
padding-bottom: 45px;
margin-left: auto;
font-family: sans-serif;
gap:30px
}

.mobile-market-icon{
height: 59px;
border: 1px solid;
border-radius: 50px;
width: 219px;
}
.mobile-market-link{
width: 33%;
height: 50px;
border: 1px solid black;
border-radius: 5px;
margin: 3px 7.5px 0 0;
}


@media (max-width:1245px) {

.banner-container{
  height: auto;
}
.mobile-market-icons{
  flex-wrap: wrap;
}
}


#myGov{
width: 100%;
height: 248px;
background-color:rgb(231, 120, 120);
}

.banner-container{
width: 1200px;
height: 100%;
}

.bannerContent{
width: 50%;
margin:0 12.5px;
}


.myGovImage{
margin-right: 36px;
}

.myGovContent{
flex-grow: 1;
padding-bottom: 45px;
}

.myGovButton{
width: 100%;

}

.myGovLink{
width: 220px;
border: 1px solid;
border-radius: 50px;
height: 59px;
display: flex;
align-items: center;
justify-content: center;
}

@media (max-width:1215px){
.banner-container{
  width: 100%;
}

@media (max-width:1215px) {
  .bannerContent {
    margin: 0 1%; /*Bu, elementin sağ ve sol kenarına toplam genişliğin %1'ini bırakıyor(Sayfa genişliği 1200px olduğunda, margin 12px olur).*/
  }
}

}

@media (max-width:576px) {
.myGovLink{
  width: 170px;
  height: 50px;
}
}

#social-media-block{
height: 524px;
background-color:grey;
}

.social-media-container{
width: 1200px;
height: auto;
padding: 75px 0;
margin: 0 auto;
}

.social-media-content {
width: 775px;
max-width: calc(100% - 225px); 
height: auto;
margin-left: 212.5px;
margin-right: 12.5px;
}

.social-media-header{
width: 100%;
height: 42px;
margin: 30px 0;
text-align: center;
}

.social-media-text{
width: 100%;
height: auto;
padding-bottom: 30px;
text-align: center;
font-size: 15px;
}

.social-media-links{
margin: 0 15px 7.5px 0;
padding: 10px;
}

.hashtag {
width: 100%;
height: auto;
padding-top: 15px;
text-align: center;
}

.social-media-usage-guide {
text-align: center;
height: auto;
border: 1px solid rgb(255, 255, 255); 
border-radius: 20px;
text-decoration: none;  
color: white;
font-size: 13px;
padding: 5px 30px;
white-space: nowrap;
}

@media (max-width:1215px) {
#social-media-block,
.social-media-header{
  height: auto;
}

.social-media-container{
  width: 100%;
  margin: 0;
}

.social-media-content {
  width: calc(775px * (100vw / 1215));
  margin-left: calc(17%); 
  margin-right: calc(1%);
}
}

#statistics-block{
width: 100%;
height: 430px;
padding: 90px 15px;
background-color:lightpink;  
}

.statisticContentHeader{
width: 100%;
height: auto;
text-align: center;
font-size: 25px;
margin-bottom: 50px;
font-weight: 300;
color: #222;
}

.statisticContent{
width: 1200px;
height: auto;
margin: 0 auto;
}

.statisticList{
margin: 0;
padding: 0;
}

.statisticListItem{
height: 88px;
padding-bottom: 15px;
margin: 0 15px;
width: auto;
}

.statisticLink{
text-align: center;
font-size: 15px;
border: 1px solid;
border-radius: 20px;
width: auto;
padding: 5px 70px;
margin: 40px auto 5px auto;
text-decoration: none;
font-weight: 300;
color: #222;
}

@media (max-width:1245px) {
#statistics-block{
  height: auto;
}

.statisticContent{
  width: 100%;
  margin: 0;
}
}

#info-block{
width: 100%;
height: 380px;
padding: 90px 15px;
background-color:lightgreen;
}

.statistics-content{
width: 1200px;
height: auto;
margin: 0 auto;
}

.statistics-text{
width: 720px;
height: auto;
margin: 22.5px auto;
}

.info-text{
color: #4284be;
font-size: 22px;
font-weight: 300;
text-align: center;
padding-bottom: 35px;
margin: 0;
}

strong{
color: #3975a9;
}

.infoList{
margin: 0;
padding: 0;
}

.infoItem{
width: 33%;
margin: 0 7.5px;
padding-top: 28px;
}

@media (max-width:1245px) {
#info-block{
  height: auto;
}

.statistics-content{
  width: 100%;
  margin: 0;
}

.statistics-text{
  width: calc(720px - (1245px - 100vw) * 0.2); 
  margin: 22.5px auto;
}

}

@media (max-width:1024px){
.statistics-text{
  width: 100%;
  margin: 0;
}
}



#footer{
width: 100%;
height: auto;
padding: 30px 15px 15px;
background-color:rgb(255, 255, 255);
}

.bottomLinksGroup{
width: 1200px;
height:auto;
margin:auto;
}

.bottomLinksWrapper{
width: 1200px;
height: auto;
}

.bottomLinksBlock{
width: 930px;
height: 100%;
}

.bottomLinks{
margin: 15px 0 30px 0;
}


.items {
width: calc(33% - 15px);
height: 121px;
margin: 15px 7.5px;
min-width: 130px;
}

.top-items{
height: 279px;
} 

.bottomRightWrapper{
padding-top: 30px;
width: 270px;
height: 100%;
flex-wrap: wrap;
}

.bottomContacts{
width: 100%;
height: auto;
border: 1px solid;
border-radius: 10px;
padding: 13px;
}

.bottomSocialLinks{
width: 100%;
height: auto;
padding: 15px;
margin: 15px 0;
border: 1px solid;
border-radius: 10px;
}

.socialLinks{
width: 50%;
height: auto;
}

.bottomPartnerLinks{
width: 1200px;
height: auto;
padding: 22.5px 0;
}

.images{
width: 350px;
height: 100%;
}

.bottomPartnerText{
width: 850px;
height: 100%;
}

.bottomCopyrightBlock{
width: 1200px;
height: 45px;
margin-top: 11px;
}

@media (max-width:1245px) {
.bottomLinksGroup{
  margin: 0;
}

.bottomRightWrapper{
  width: 270px;
}

.bottomLinksBlock{
  width: calc(100% - 270px);
}

.bottomLinksGroup,
.bottomLinksWrapper,
.bottomPartnerLinks,
.bottomCopyrightBlock{
  width: 100%;
}

.bottomPartnerText{
  width: calc(100vw - 385px);
}
}

@media (max-width:1024px) {
.bottomRightWrapper{
  width: 250px;
}

.bottomLinksBlock{
  width: calc(100% - 250px);
}
}

@media (max-width:831px) {
.bottomRightWrapper{
  width: 225px;
}

.bottomLinksBlock{
  width: calc(100% - 225px);
}
}

@media (max-width:640px) {
.bottomLinksWrapper{
  flex-direction: column;
}

.bottomLinksBlock,
.bottomRightWrapper{
  width: 100%;
}

.bottomRightWrapper{
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
}

.bottomContacts{
  flex-grow: 3;  /* 3 kat hızlı küçülsün */
  flex-shrink: 3;
  min-width: 250px;
  height: 100%;
}
.bottomSocialLinks{
  flex-grow: 1; /* Daha yavaş küçülsün */
  flex-shrink: 1;
  width: auto;
  min-width: 150px;
  height: auto;
  margin: 0;
  padding: 13.5px;
  margin-left: 13.5px;
}

.socialLinks{
  width: 100%;
  height: 25%;
  font-size: 15px;
  margin-left: 13.5px;
}

.bottomPartnerLinks{
  flex-direction: column;
  align-items: center;
}
.images{
  text-align: center;
}
.bottomPartnerText{
  width: 100%;
  text-align: center;
}
}